 <section ng-controller="hockeyCtrl" >
     <h3>New</h3>
               <form name="formy_edit" class="edit_form">
                <label>Name</label>
                <input class="contact_input_body" type="text" ng-model="player.name">
                <label>Team</label>
                <input class="contact_input_body" type="text" ng-model="player.team">
                <label>Draft Year</label>
                <input class="contact_input_body" type="text" ng-model="player.draft">
                <label>Birthday</label>
                <input class="contact_input_body" type="text" ng-model="player.birthday">
                <label>Birthplace</label>
                <input class="contact_input_body" type="text" ng-model="player.birthplace">
                <br>
                <button class="btn" ng-click="player.$save()">Save</button> 
                <button class="btn" ng-click="removePlayer(player)">Delete</button>
                <br>
                <br> </form>
        
 </section>
