<section>
    <h3>All Players</h3>
    <ul>
        <li ng-repeat="player in playersList track by player.$id">
            <form name="formy_edit" class="edit_form">
                <label>Name</label>
                <input class="contact_input_body" type="text" ng-model="player.name">
                <label>Team</label>
                <input class="contact_input_body" type="text" ng-model="player.team">
                <label>Draft Year</label>
                <input class="contact_input_body" type="text" ng-model="player.draft">
                <label>Birthday</label>
                <input class="contact_input_body" type="text" ng-model="player.birthday">
                <label>Birthplace</label>
                <input class="contact_input_body" type="text" ng-model="player.birthplace">
                <br>
                <br> </form>
        </li>
    </ul>
</section>